{
  "Aberdeen": {
    "original": "Aberdeen",
    "mapboxPlaceName": "Aberdeen, Scotland, United Kingdom",
    "city": "Aberdeen",
    "state": "Scotland",
    "stateCode": null,
    "country": "United Kingdom",
    "countryCode": "GB",
    "postalCode": null,
    "coordinates": {
      "longitude": -2.0943,
      "latitude": 57.1497
    },
    "placeType": [
      "place"
    ],
    "confidence": 1
  },
  "Houston, TX": {
    "original": "Houston, TX",
    "mapboxPlaceName": "Houston, Texas, United States",
    "city": "Houston",
    "state": "Texas",
    "stateCode": "TX",
    "country": "United States",
    "countryCode": "US",
    "postalCode": null,
    "coordinates": {
      "longitude": -95.3698,
      "latitude": 29.7604
    },
    "placeType": [
      "place"
    ],
    "confidence": 1
  },
  "Calgary, AB, Canada": {
    "original": "Calgary, AB, Canada",
    "mapboxPlaceName": "Calgary, Alberta, Canada",
    "city": "Calgary",
    "state": "Alberta",
    "stateCode": "AB",
    "country": "Canada",
    "countryCode": "CA",
    "postalCode": null,
    "coordinates": {
      "longitude": -114.0708,
      "latitude": 51.0447
    },
    "placeType": [
      "place"
    ],
    "confidence": 1
  }
}
